# Ignore all .pyc files
*.pyc

# Ignore fig and mat files
*.fig
*.mat

# Ignore the virtual environment
venv/

# Ignore images
*.png
*.jpg
*.jpeg
*.gif
*.svg

# Ignore logs
*.log

# Ignore matlab data files
*.mat

# Ignore output files
*.json
*.csv
*.npy

# Ignore model files
*.pth

# Ignore avi files
*.avi

# Ignore mp4 files
*.mp4

# Ignore asv files
*.asv

# Ignore database files
*.db

# Ignore images and results
Materials/*
Results/*